body {
  font-family: Arial;
  margin: 0;
  background: #0b0f1a;
  color: white;
  text-align: center;
}

.center {
  margin-top: 120px;
}

button {
  padding: 10px;
  margin: 5px;
  background: gold;
  border: none;
}

.form-box {
  width: 300px;
  margin: 100px auto;
  background: #1f2937;
  padding: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.dashboard {
  margin-top: 80px;
}